
#html file that is always updated when runnning main
templates/map.html

#Python
__pycache__/
*.py[cod]
*$py.class
*.json

# Quart cache and logs
quart_cache/
quart_logs/


.idea/
# Ignore all .xml and .iml files in .idea/
*.iml
*.xml

.vscode/